# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# dependencies
/node_modules
/.pnp
.pnp.js

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem

# netlify
.netlify

# next.js
/.next/
/out/

# npm registry
.npmrc

# production
/build

# sentry
.sentryclirc

# storybook
storybook-static/

# testing
/coverage
/coverage-db

# vercel
.vercel
tsconfig.tsbuildinfo

# idea
.idea
